/* Organized in alphabetical order by selector type */
/* Elements */

body {
    position: relative;
    top: 15vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: rgba(126, 124, 124, 0.904);
    color: white;
}

input {
    margin: 5px;
    border: grey 2px solid;
}

td{
    border: black 1px solid;
    text-align: left;
}

tfoot th{
    height: 25px;
    width: 100%;
    background-color: rgba(185, 184, 184, 0.877);
}

th{
    border: black 1px solid;
    text-align: left;
}

/* Classes */

.container {
    margin: 30px auto;
}

.evenRow{
    background-color: rgba(221, 220, 220, 0.87);
}

.oddRow{
    background-color: white;
}

.red {
    background-color: rgba(240, 50, 50, 0.8);
}

.tableHeading {
    background-color: rgba(185, 184, 184, 0.877);
}

/* IDs */

.cost {
    background-color: white;
}

.firstname {
    width: 200px;
}

#heading {
    margin: auto auto;
}

.id {
    width: 100px;
}

.lastname {
    width: 200px;
}

.salary {
    width: 200px;
}

.title {
   width: 250px;
}